* {
  box-sizing: border-box;
  --nav_items: #66b3ffcc;
}

.main-body{
  width: 90%;
  margin: 0 auto;
}

.top-box {
  display: flex;
  align-content: space-evenly;
  flex-direction: row;
  background: #251367;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 100px;
}

.logo {
  width: 75px;
  height: 75px;
  margin: 10px;
  background-image: url("../image/logo.png");
  align-self: flex-start;
}

.text {
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: aliceblue;
  font-size: small;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.text p {
  font-size: large;
  padding-bottom: 0;
}

#recipt-number {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding: 15px 20px;
  border-radius: 5px 0 0 5px;
  flex-wrap: nowrap;
  position: -webkit-sticky;
  left: 0;
  margin-left: 15px;
}

@media screen and (max-width: 950px) {
  .search-bar {
    width: 100px;
  }
}

.search-input {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  width: 320px;
  outline: none;
  border-radius: 5px;
  border: var(--nav_items);
  height: 50px;
  position: absolute;
  top: 15%;
  left: 0;
  margin-left: 15px;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 950px) {
  .search-input {
    width: 150px;
  }
}

@media screen and (max-width: 950px) {
  .search-input {
    width: 150px;
  }
}

hr{
  width: 100%;

}

.search-bar ::placeholder {
  font-size: small;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav-container {
  z-index: -1;
  position: fixed;
  top: 95px;
  width: 100vw;
  background-color: var(--nav_items);
  border-radius: 5px;
  padding: 10px;
  height: 75px;
  backdrop-filter: blur(10px);
}

.nav-button{
  z-index:1;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
}

.nav-button:hover{
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 5px;
  padding: 0;
}

li {
  margin: 0 10px;
  list-style-type: none;
  display: inline-block;
  padding: 15px 20px;
  letter-spacing: 5px;
  color: #222222;
  transition: 500ms;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

#item:before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  background: #333;
  transition: 250ms;
  z-index: -1;
}

#item:hover {
  color: #222222;
  background-color: rgb(26 77 151 / 25%);
  font-weight: 300;
}

#item:hover:before {
  background: #333;
  width: 100%;
  opacity: 0;
}

.logout {
  display: flex;
  align-items: center;
  background-color: rgb(26 77 151 / 25%);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.logout:hover {
  background-color: #222222;
  color: #77ceff;
}

.logout:before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  background: #222222;
  transition: 350ms;
  z-index: -1;
}

.logout:hover:before {
  background: #222222;
  width: 100%;
  opacity: 0;
}

.logout i {
  margin-right: 5px;
}
/* Additional media queries for larger screens */
@media screen and (max-width: 515px) {
  li {
    letter-spacing: 2px;
    font-size: smaller;
  }
  .text p {
    font-size: large;
  }
}

option{
  padding: 10px;
}

.space{
  height: 190px;
  width: 100%;
  content: '';
}

.entry-info {
  padding: 10px;
  width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
}

/*css for the input fields*/
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.form-column {
  flex-basis: 25%;
  padding: 0 7px;
  box-sizing: border-box;
}

label,
#mgmt,
#govt {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

input[type="text"],
.email {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: large;
}

input[type="radio"] {
  margin-right: 10px;
}
/*for table*/
.entry-table {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  margin-top: 10px;
}

.table-container {
  overflow-x: auto;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: #f9f9f9;
  border-radius: 10px;
}

thead {
  text-align: center;
  background-color: #333;
  color: #fff;
}

th,
td{
  word-break: normal;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  white-space: nowrap; /* Prevent wrapping in the header cells */
  overflow: hidden; /* Hide any overflowing content in the header cells */
  text-overflow: ellipsis; /* Add ellipsis (...) if content overflows in the header cells */
  transition: all 0.3s ease; /* Add smooth transition effect */
}

td:hover {
  word-break: normal;
  white-space: normal; /* Show full content on hover */
  word-break: break-all; /* Allow content to wrap within the cell */
  overflow: hidden; /* Hide overflowing content in the cell */
  background-color: #fff; /* Change background on hover (optional) */
}

.long-text {
  min-width: 150px; /* Set a minimum width for the "Documents" column */
}

tbody tr:nth-child(odd) {
  background-color: #e9f4ff;
}

tbody tr:nth-child(even) {
  background-color: #edeef0;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  th,
  td {
    font-size: 14px;
  }
}

.submit-button {
  text-align: center;
  margin-top: 10px;
}
/*for second page (down side of the webpage) */

div{
  display: block;
}

.menu-2 {
  width: 100%;
  height: 80px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  margin-top: 10px;
}
.main-info-2 {
  width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  margin-top: 10px;
}
.main-table-2 {
  width: 100%;
  height: 400px;
  flex-shrink: 0;
  background: #fff;
  margin-top: 10px;
}
.down-menu {
  width: 100%;
  height: 63px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  margin-top: 10px;
}

.down-menu{
  position: relative;
  bottom: 10px;
}

.document_name{
  overflow: hidden; /* Hide any overflowing content in the header cells */
  text-overflow: ellipsis; /* Add ellipsis (...) if content overflows in the header cells */
  transition: all 0.3s ease; /* Add smooth transition effect */
  word-break: normal;
}
