{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Document Verification</title>
</head>
<body>
  <header class="header">
    <img src="{% static 'image/logo.png' %}" alt="Logo" class="logo">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <h2>ADMINISTRATIVE OFFICE</h2>
    <h2>ACKNOWLEDGEMENT RECEIPT - PARENT COPY - REGULAR ADMISSION</h2>
    <div class="search_bar">
      <input type="text" class="search_input" placeholder="Search Admission Number Here..." onkeyup="searchTable()" />
    </div>
    <div class="summary-button"></div>
      <a href="{% url 'export_certificate_summary' %}" class="button">Download Summary</a>
    </div>
  </header>
  <form action="{%  url 'dashboard' %}" method="POST">
    <div class="dashboard">
      <div class="card1">
        <p>Total: 100</p>
        <h2 id="h2">STUDENTS</h2>

      </div>
      <div class="card2">
        <p>Original: 500</p>
        <p>Photocopy: 500</p>
        <h2 id="h2">SUBMITTED</h2>
       
      </div>
      <div class="card3">
        <p>Original: 500</p>
        <p>Photocopy: 500</p>
        <h2 id="h2">PENDING</h2>
        
        
      </div>
    </div>

    {% comment %} //table {% endcomment %}
    <div class="table-container">
      <table id="documentTable">
        <tr>
          <th rowspan="2">Lock status</th>
          <th rowspan="2">Admission.No</th>
          <th colspan="2" class="rotate">Document 1</th>
          <th colspan="2" class="rotate">Document 2</th>
          <th colspan="2" class="rotate">Document 3</th>
          <th colspan="2" class="rotate">Document <br> 4</th>
          <th colspan="2" class="rotate">Document 5</th>
          <th colspan="2" class="rotate">Document 6</th>
          <th colspan="2" class="rotate">Document 7</th>
          <th colspan="2" class="rotate">Document 8</th>
          <th colspan="2" class="rotate">Document 9</th>
          <th colspan="2" class="rotate">Document 10</th>
          <th colspan="2" class="rotate">Document 11</th>
        </tr>
        <tr>
          <th>O</th>
          <th>P</th>
        </tr>
        <tr>
          <td id="lock"><a href="#"><img src="{% static 'image/lock.png' %}" alt="Lock" class="lock-icon"></a></td>
          <td>22csb11</td>
          <td class="green-cell">&#10004;</td>
          <td class="red-cell">&#10007;</td>
        </tr>
        <tr>
          <td id="lock"><a href="#"><img src="{% static 'image/lock.png' %}" alt="Lock" class="lock-icon"></a></td>
          <td>22aib30</td>
          <td class="green-cell">&#10004;</td>
          <td class="red-cell">&#10007;</td>
        </tr>
        <tr>
          <td id="lock"><a href="#"><img src="{% static 'image/lock.png' %}" alt="Lock" class="lock-icon"></a></td>
          <td>22csb05</td>
          <td class="green-cell">&#10004;</td>
          <td class="red-cell">&#10007;</td>
        </tr>
        <tr>
          <td id="lock"><a  href="#"><img src="{% static 'image/lock.png' %}" alt="Lock" class="lock-icon"></a></td>
          <td>22csb19</td>
          <td class="green-cell">&#10004;</td>
          <td class="red-cell">&#10007;</td>
        </tr>
        <tr class="message-row" style="display: none;">
          <td colspan="3">Nothing found</td>
        </tr>
      </table>
    </div>
    <script>
      function searchTable() {
        var input = document.querySelector('.search_input');
        var filter = input.value.toUpperCase();
        var table = document.getElementById('documentTable');
        var rows = table.getElementsByTagName('tr');
        var messageRow = table.getElementsByClassName('message-row')[0];
  
        var matchFound = false;
  
        for (var i = 2; i < rows.length; i++) {
          var admissionNumberCell = rows[i].getElementsByTagName('td')[0];
          var admissionNumberText = admissionNumberCell.textContent || admissionNumberCell.innerText;
  
          if (startsWith(admissionNumberText.toUpperCase(), filter)) {
            rows[i].style.display = '';
            matchFound = true;
          } else {
            rows[i].style.display = 'none';
          }
        }
  
        if (!matchFound) {
          messageRow.style.display = '';
        } else {
          messageRow.style.display = 'none';
        }
      }
  
      function startsWith(text, search) {
        return text.startsWith(search);
      }
    </script>
  </body>
  </html>

  
  
  
  
  
