{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static '/image/logo.png' %}">
    <title>ERROR</title>
</head>
<body>
    <div class="error_msg">
        <br><i>&#9888;</i> ERROR! <br> <br>
        Student with the given admission number already exists,
        try to give your admission number instead. <br> <br><b> NOTE:</b> Just Go Back and Edit It<br><br>
    </div>
     <style>
        
     .error_msg{
            width: 500px;
            height: 200px;
            border: 1px solid darkred; 
            background: salmon;
            text-align: center;
            margin: auto;
            margin-top: 280px;
            border-radius: 5px;
            font-size: large;
           
        }
    </style>
</body>
</html>