{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Document Verification</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script src="{% static 'js/count_toggle.js' %}"> </script>
  {% comment %} <script src="{% static 'js/exist_msg.js' %}"> </script> {% endcomment %}
</head>
<body>
  <header class="header">
    <img src="{% static 'image/logo.png' %}" alt="Logo" class="logo">
    <h2>ADMINISTRATIVE OFFICE</h2>
    <h2>ACKNOWLEDGEMENT RECEIPT - PARENT COPY - REGULAR ADMISSION</h2>
    <div class="search-bar">
      <a href="{% url 'add' %}"><input type="button" class="nav-btn" id="new-button" value="NEW"></a>
        <input type="number" id="receipt-number" class="search-input" placeholder="Search your ADMISSION NO here..."  onkeypress="preventFormSubmission(event)">
        <button class="search-button" onclick="searchReceipt()">Search</button>
      <a href="{% url 'logout' %}"href="{% url 'logout' %}"><input type="button" class="nav-btn" id="logout-button" value="LOGOUT"></a>
    </div>
  </header>
  <form action="{%  url 'add' %}" method="POST" id="myForm">
  <div class="info">
        <div class="form-row">
          <div class="form-column">
            <label for="name_stu">NAME OF THE STUDENT:</label>
            <input type="text" id="name_stu" name="name_stu" required>
          </div><br>
          <div class="form-column">
            <label for="receipt">ADMISSION NO:</label>
            <input type="text" id="receipt" name="receipt" required />
            {% comment %} <div id="messageContainer"></div> {% endcomment %}
          </div>
          <div class="form-column">
            <label for="name_prnt">NAME OF THE PARENT:</label>
            <input type="text" id="name_prnt" name="name_prnt" required>
          </div>
          <div class="form-column">
            <label for="dept">DEPARMENT:</label>
            <div class="dropdown">
              <select id="dept" name="dept" required>
                <option disabled selected>Select department</option>
                <option value="CSE">CSE</option>
                <option value="AI&DS">AI&DS</option>
                <option value="IT">IT</option>
                <option value="ECE">ECE</option>
                <option value="CSBS">CSBS</option>
                <option value="MECH">MECH</option>
              </select>
              <span class="dropdown-icon"></span>
              <style>
                .dropdown {
                  position: relative;
                  display: inline-block;
                }
            
                .dropdown select {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  outline: none;
                  border: 1px solid #ccc;
                  padding: 8px 40px 8px 12px;
                  font-size: 16px;
                  border-radius: 4px;
                  background-color: #fff;
                  cursor: pointer;
                  width: 200px;
                }
            
                .dropdown select:hover,
                .dropdown select:focus {
                  border-color: #555;
                }
            
                .dropdown-icon {
                  position: absolute;
                  top: 50%;
                  right: 12px;
                  transform: translateY(-50%);
                  pointer-events: none;
                }
            
                /* Custom styles for the dropdown arrow icon */
                .dropdown-icon::after {
                  content: '\25BC';
                  font-size: 12px;
                  color: #555;
                }
              </style>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-column">
           <label for="contact1">CONTACT INFO:<br>STUDENT NO:</label>
            <input type="text" id="contact1" name="contact1" required> 
          </div>
          <div class="form-column">
            <br><label for="contact2">PARENT NO:</label>
            <input type="text" id="contact2" name="contact2" required>
          </div><br>
          <div class="form-column">
            <br><label for="email">EMAIL ID:</label>
            <input type="email" class="email" id="email" name="email" required>
          </div>
          <div class="form-column">
            <label for="email">QUOTA:</label>
            <div class="dropdown">
              <select id="quota" name="quota" required>
                <option value="select">Select Quota</option>
                <option value="govt">GOVERNMENT</option>
                <option value="mgnt">MANAGEMENT</option>
              </select>
              <span class="dropdown-icon"></span>
            </div>
          </div>
        </div>

        
        </div>

  </div>
  <div class="doc_info" >
          {% csrf_token %}
        <table>
          <tr>
            <th>S.no</th>
            <th>Documents</th>
            <th>Date</th>
            <th>Original</th>
            <th>Photocopy</th>
            <th>Quantity</th>
            
          </tr>
          <tbody id="table-body">       
          
        </tbody>
        </table>
        <button class="button" id="submit"> Save </button>
      </form>
    </div>

  <script>

    //for dept drop down box
    var deptSelect = document.getElementById('dept');

    deptSelect.addEventListener('change', function() {
      var selectedOption = deptSelect.options[deptSelect.selectedIndex];
      if (selectedOption.value !== '') {
        console.log('Selected dept:', selectedOption.value);
      }
    });



      // Adding date to the form fields
      var form = document.getElementsByTagName('form')[0];
      var date = new Date().toLocaleDateString();
      console.log(date);

      var date_field = document.createElement("input");
      date_field.type="hidden";
      date_field.name="date";
      date_field.value=date;
      form.appendChild(date_field);

      // Generate serial number, documents, date, checkbox, and quantity columns
    function generateColumns() {
      var tableRows = document.getElementById('table-body').children;
      for (var i = 0; i < tableRows.length; i++) {
        var serialNumberCell = document.createElement('td');
        serialNumberCell.textContent = i + 1;
        tableRows[i].insertBefore(serialNumberCell, tableRows[i].firstChild);
        

        var dateCell = document.createElement('td');
        var currentDate = new Date().toLocaleDateString();
        dateCell.textContent = currentDate;
        tableRows[i].appendChild(dateCell);

        var checkboxCell = document.createElement('td');
        var checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.name = data[i] +':'+ "original";
        
        var checkboxhidden = document.createElement('input');
        checkboxhidden.type = 'hidden';
        checkboxhidden.name = data[i] +':'+ "original";
        checkboxhidden.value = 'off';
        
        checkboxCell.appendChild(checkboxhidden);
        checkboxCell.appendChild(checkbox);
        tableRows[i].appendChild(checkboxCell);
        checkboxCell.classList.add('checkboxcell');
        checkbox.classList.add('cell5');

        var checkboxCell = document.createElement('td');
        
        
        var checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.name = data[i] +':'+ "copy";
        checkbox.setAttribute("onclick", "toggleInputField(this)");

        var checkboxhidden = document.createElement('input');
        checkboxhidden.type = 'hidden';
        checkboxhidden.name = data[i] +':'+ "copy";
        checkboxhidden.value = 'off';

        checkboxCell.appendChild(checkboxhidden);
        checkboxCell.appendChild(checkbox);
        tableRows[i].appendChild(checkboxCell);
        checkboxCell.classList.add('checkboxcell');
        checkbox.classList.add('cell5');


        var quantityCell = document.createElement('td');
        var quantityInput = document.createElement('input');
        quantityInput.type = 'number';
        quantityInput.min = '0';
        quantityInput.value = '0';
        quantityInput.name = data[i] +':'+ "count";
        quantityInput.readOnly = true;
        quantityCell.appendChild(quantityInput);
        tableRows[i].appendChild(quantityCell);
        quantityCell.classList.add('cell4');
        quantityInput.classList.add('cell3');
      }
    }

    // Example data for the table
    var data = [
    {% for name in file_names%}  
    '{{name}}',
    {% endfor %}
    ];

    // Generate table rows
    var tableBody = document.getElementById('table-body');
    for (var i = 0; i < data.length; i++) {
      var row = document.createElement('tr');
      var dataCell = document.createElement('td');
      dataCell.textContent = data[i];
      row.appendChild(dataCell);
      tableBody.appendChild(row);
    }

    // Call the function to generate serial numbers, dates, checkboxes, and quantities
    generateColumns();

    //search function
    function searchReceipt(){
      var receiptNumber = document.getElementById("receipt-number").value;
      var searchTerm = receiptNumber.value;
      // Redirect the user to the next page
      window.location.href = "view/"+receiptNumber; // Replace "next-page.html" with the actual URL of the next page

    }

    // Function to prevent form submission when Enter key is pressed in the search input
    function preventFormSubmission(event) {
      if (event.key === 'Enter') {
        event.preventDefault();
        searchReceipt();
      }
    }

    // function for searching admission number 
    function populateSearchValue() {
      var searchValue = sessionStorage.getItem('searchValue');
      if (searchValue) {
        document.getElementById("receipt-number").value = searchValue;
      }
    }
    populateSearchValue();


  </script>
  </body>
  </html>