<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static '/image/logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOCKED</title>
</head>
<body>
    <div class="lock_msg">
        <br><i>&#9888;</i> LOCKED! <br> <br>
       YOU CAN'T EDIT THIS PAGE ANYMORE!!!<br> <br><b> NOTE:</b>IF YOU WANT TO EDIT FURTHER CONTACT YOUR ADMIN<br><br>
        <a href="/">back</a>
    </div>

     <style>
        
     .lock_msg{
            width: 500px;
            height: 200px;
            border: 1px solid darkred; 
            background-color: rgba(127,233,255,1) ;
            text-align: center;
            margin: auto;
            margin-top: 280px;
            border-radius: 5px;
            font-size: large;
           
        }
    </style>
</body>
</html>