{%extends "template.html" %}

{% block body %}
<div id="form-window">
    <div id="form-title">
        <label id="form-label">Staff Login</label>
    </div>
    <span id="form-error">{{form.non_field_errors.as_text}}</span>
    <form id="form" method="post">
        {% csrf_token %}
<!--        <label id="username-label" for="username">Username:</label><br>-->
<!--        <input class="login-input" type="text" id="username" name="username" placeholder="Username" required autofocus><br> -->
        {{form.username}}
<!--        <label id="password-label" for="password">Password:</label><br>-->
<!--        <input class="login-input" type="password" id="password" name="password" placeholder="Password" required><br> -->
        {{form.password}}
        <input id="submit-btn" type="submit" value="Login">
    </form>
</div>
{%endblock%}
