<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>document_info</title>
    <style>
      @page {
        size: A4 portrait;
        margin: 1.5cm;
      }
      table {
        border: 1px solid black;
        padding: 2px;
      }
      .cells {
        text-align: center;
        padding: 3px;
      }
      .txt {
        text-align: center;
      }
      .sno {
        width: 53px;
        height: 100px;
      }
      .date {
        width: 150px;
      }
      .doc {
        width: 300px;
      }
      .org {
        width: 65px;
      }
      .ptocpy {
        width: 65px;
      }
      .qty {
        width: 85px;
      }
      
      .signature {
        width: 400px;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        border: 2px solid black;
      }
      
      .signature p {
        border: none;
      }
      .sign_tab {
        text-align: center;
      }
      .sign_cell {
        padding-top: 50px;
      }
      .txt1 {
        text-align: left;
      }
      .alert {
        text-align: center;
        padding: 2px;
        font-size: large;
      }
    </style>
  </head>
  <body>
    <div class="base">
      <!-- STUDENT copy -->
      <div class="main_content">
        <!-- heading -->
        <div class="txt">
          <hr size="2px" color="black" />
          <b>KGISL INSTITUTE OF TECHNOLOGY</b> | ACKNOWLEDGEMENT RECEIPT | <b>
            STUDENT COPY<br />
            ("&#10004 - submited , x - not submited")
          </b>
        </div>
        <!-- main table --> 
        <table class="table1">
          <tr>
            <th>Name of Student</th>
            <th>
              <p>ACK. Receipt No</p>
            </th>
            <th>
              <p>Name of Parent</p>
            </th>
            <th>
              <p>Department</p>
            </th>
            <th>
              <p>Parent Number</p>
            </th>
            <th>
              <p>Student Number</p>
            </th>
            <th>
              <p>Quota</p>
            </th>
          </tr>
          <tr>
            <td class="cells">
              <p>{{ student.name }}</p>
            </td>
            <td class="cells">
              <p>{{ admission_no }}</p>
            </td>
            <td class="cells">
              <p>{{ student.parent_name }}</p>
            </td>
            <td class="cells">
              <p>{{ student.department }}</p>
            </td>
            <td class="cells">
              <p>{{ student.student_number }}</p>
            </td>
            <td class="cells">
              <p>{{ student.parent_number }}</p>
            </td>
            <td class="cells">
              {% if student.quota %}
              <p> GOVT </p>
              {% else %}
              <p> MGNT </p>
              {% endif %}
            </td>
          </tr>
        </table>
        <table class="table1">
          <tr>
            <th rowspan="2" class="sno">SNo</th>
            <th rowspan="2" class="doc">Document</th>
            <th rowspan="2" class="date">Date</th>
            <th colspan="2" class="copy">Copies</th>
            <th rowspan="2" class="qty">Quantity</th>
          </tr>
          <tr>
            <th class="org">Original</th>
            <th class="ptocpy">Photocopy</th>
          </tr>
          {% for record in records %}
            <tr>
              <td class="txt">{{ forloop.counter }}</td>
              <td class="txt1">{{ record.document.name }}</td>
              <td class="txt">{{ record.date }}</td>
              <td class="txt">
                {% if record.original %}
                <p>&#10004</p>
                {% else %}
                  <p><b>x</b></p>
                {% endif %}
              </td>
              <td class="txt">
                {% if record.photocopy %}
                  <p>&#10004</p>
                {% else %}
                  <p><b>x</b></p>
                {% endif %}
              </td>
              <td class="txt">
                <p>{{ record.count }}</p>
              </td>
            </tr>
          {% endfor %}
        </table>
        <table class="sign_tab">
          <tr>
            <td>
              <p class="sign_cell">CERTIFICATE RECIVER</p>
            </td>
            <td>
              <p class="sign_cell">STUDENT</p>
            </td>
            <td>
              <p class="sign_cell">PARENT/GAURDIAN</p>
            </td>
          </tr>
        </table><hr>
        <div class="alert">"THIS IS THE FINAL ACKNOLEDGMENT FORM"</div>
      </div>
      <p style="padding: 1px;"> - - - &#9986; - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - &#9986;- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - &#9986; - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -&#9986;- - </p>
      <!-- OFFICE copy -->
      <div class="main_content">
        <!-- heading -->
        <div class="txt">
          <hr size="2px" color="black" />
          <b>KGISL INSTITUTE OF TECHNOLOGY</b> | ACKNOWLEDGEMENT RECEIPT   | <b>OFFICE COPY</b>
        </div>
        <!-- main table -->
        <table class="table1">
          <tr>
            <th>Name of Student</th>
            <th>
              <p>ACK. Receipt No</p>
            </th>
            <th>
              <p>Name of Parent</p>
            </th>
            <th>
              <p>Department</p>
            </th>
            <th>
              <p>Parent Number</p>
            </th>
            <th>
              <p>Student Number</p>
            </th>
            <th>
              <p>Quota</p>
            </th>
          </tr>
          <tr>
            <td class="cells">
              <p>{{ student.name }}</p>
            </td>
            <td class="cells">
              <p>{{ admission_no }}</p>
            </td>
            <td class="cells">
              <p>{{ student.parent_name }}</p>
            </td>
            <td class="cells">
              <p>{{ student.department }}</p>
            </td>
            <td class="cells">
              <p>{{ student.student_number }}</p>
            </td>
            <td class="cells">
              <p>{{ student.parent_number }}</p>
            </td>
            <td class="cells">
              {% if student.quota %}
              <p> GOVT </p>
              {% else %}
              <p> MGNT </p>
              {% endif %}
            </td>
          </tr>
        </table>
        <table class="table1">
          <tr>
            <th rowspan="2" class="sno">SNo</th>
            <th rowspan="2" class="doc">Document</th>
            <th rowspan="2" class="date">Date</th>
            <th colspan="2" class="copy">Copies</th>
            <th rowspan="2" class="qty">Quantity</th>
          </tr>
          <tr>
            <th class="org">Original</th>
            <th class="ptocpy">Photocopy</th>
          </tr>
          {% for record in records %}
            <tr>
              <td class="txt">{{ forloop.counter }}</td>
              <td class="txt1">{{ record.document.name }}</td>
              <td class="txt">{{ record.date }}</td>
              <td class="txt">
                {% if record.original %}
                  <p>&#10004</p>
                {% else %}
                  <p><b>x</b></p>
                {% endif %}
              </td>
              <td class="txt">
                {% if record.photocopy %}
                  <p>&#10004</p>
                {% else %}
                  <p><b>x</b></p>
                {% endif %}
              </td>
              <td class="txt">
                <p>{{ record.count }}</p>
              </td>
            </tr>
          {% endfor %}
        </table>
        <table class="sign_tab">
          <tr>
            <td>
              <p class="sign_cell">CERTIFICATE RECIVER</p>
            </td>
            <td>
              <p class="sign_cell">STUDENT</p>
            </td>
            <td>
              <p class="sign_cell">PARENT/GAURDIAN</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
