<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>document_info</title>
  </head>
  <body>
    <!-- student copy -->

    <div class="container">
      <div id="main_form">
        <form>
          <hr size="2px" color="black" />
          <div class="txt">
            <b>KGISL INSTITUTE OF TECHNOLOGY</b> | ACKNOLEDGMENT RECIPT | <b>STUDENT COPY</b>
          </div>
          <hr size="2px" color="black" />
          <div id="form1">
            <table class="table1">
              <thead>
                <tr>
                  <th rowspan="2">Name of Student</th>
                  <th rowspan="2">ACK. Receipt No</th>
                  <th rowspan="2">Name of Parent</th>
                  <th rowspan="2">Department</th>
                  <th rowspan="2">Parent Number</th>
                  <th rowspan="2">Student Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ student.name }}</td>
                  <td>{{ admission_no }}</td>
                  <td>{{ student.parent_name }}</td>
                  <td>{{ student.department }}</td>
                  <td>{{ student.student_number }}</td>
                  <td>{{ student.parent_number }}</td>
                </tr>
              </tbody>
            </table>
            <table class="table1">
              <thead>
                <tr>
                  <th rowspan="2">SNo</th>
                  <th rowspan="2">Document</th>
                  <th rowspan="2">Date</th>
                  <th colspan="2">Copies</th>
                  <th rowspan="2">Quantity</th>
                </tr>
                <tr>
                  <th>Original</th>
                  <th>Photocopy</th>
                </tr>
              </thead>
              <tbody id="table-body">
                {% for record in records %}
                  <tr>
                    <td style="align-items: center;">{{ forloop.counter }}</td>
                    <td style="align-items: center;">{{ record.document.name }}</td>
                    <td style="align-items: center;">{{ record.date }}</td>
                    <td style="align-items: center;">
                      {% if record.original %}
                        <p>x</p>
                      {% else %}
                        <p>o</p>
                      {% endif %}
                    </td>
                    <td style="align-items: center;">
                      {% if record.photocopy %}
                        <p>x</p>
                      {% else %}
                        <p>o</p>
                      {% endif %}
                    </td>
                    <td style="align-items: center;">
                      <p>{{ record.count }}</p>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="signature1">
              <div>CERTIFICATE RECIVER</div>
              <div>STUDENT</div>
              <div>PARENT/GAURDIAN</div>
            </div>
          </div>

          <div id="form1">
            <hr size="2px" color="black" />
            <div class="txt">
              <b>KGISL INSTITUTE OF TECHNOLOGY</b> | ACKNOLEDGMENT RECIPT | <b>OFFICE COPY</b>
            </div>
            <hr size="2px" color="black" />
            <table class="table1">
              <thead>
                <tr>
                  <th rowspan="2">Name of Student</th>
                  <th rowspan="2">ACK. Receipt No</th>
                  <th rowspan="2">Name of Parent</th>
                  <th rowspan="2">Department</th>
                  <th rowspan="2">Parent Number</th>
                  <th rowspan="2">Student Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ student.name }}</td>
                  <td>{{ admission_no }}</td>
                  <td>{{ student.parent_name }}</td>
                  <td>{{ student.department }}</td>
                  <td>{{ student.student_number }}</td>
                  <td>{{ student.parent_number }}</td>
                </tr>
              </tbody>
            </table>
            <table class="table1">
              <thead>
                <tr>
                  <th rowspan="2">SNo</th>
                  <th rowspan="2">Document</th>
                  <th rowspan="2">Date</th>
                  <th colspan="2">Copies</th>
                  <th rowspan="2">Quantity</th>
                </tr>
                <tr>
                  <th>Original</th>
                  <th>Photocopy</th>
                </tr>
              </thead>
              <tbody id="table-body">
                {% for record in records %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ record.document.name }}</td>
                    <td>{{ record.date }}</td>
                    <td>
                      {% if record.original %}
                        <p>x</p>
                      {% else %}
                        <p>o</p>
                      {% endif %}
                    </td>
                    <td>
                      {% if record.photocopy %}
                        <p>x</p>
                      {% else %}
                        <p>o</p>
                      {% endif %}
                    </td>
                    <td>
                      <input type="number" value="{{ record.count }}" class="cell3" disabled />
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="signature2">
              <div>CERTIFICATE RECIVER</div>
              <div>STUDENT</div>
              <div>PARENT/GAURDIAN</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
